/* CSS declarations go here */
/*body {
	background-image: url('background.jpg');
  	background-position: center;
  	background-repeat: repeat-y;
}*/

#headerText {
	text-align: center;
	font-family: 'Lobster', cursive;
}
/*
#header {
	color: white;
}*/

.navbar {
	margin-top: 15px;
	width: 760px;
	margin-right: auto;
	margin-left: auto;
}

.navbarItem {
	margin-left: 5px;
	margin-right: 5px;
}

#browseClassesDiv {
	margin-top: 25px;
	margin-left: 20px;
	margin-right: 20px;
}

#loginButtons_div {
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
}

#footer{
	margin-top: 20px;
	text-align: center;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

/*#footer {
    clear: both;
    position: ;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}*/

/*#loginButtons_nav {
	margin-right: 5px;
	margin-left: 5px;
	height: 35px;
	margin-top: auto;
	margin-bottom: auto;
}*/