/* CSS declarations go here */
#header {
	text-align: center;
	font-family: 'Lobster', cursive;
}

.navbar {
	margin-top: 15px;
	width: 760px;
	margin-right: auto;
	margin-left: auto;
}

.navbarItem {
	margin-left: 5px;
	margin-right: 5px;
}

#browseClassesDiv {
	margin-top: 25px;
	margin-left: 20px;
	margin-right: 20px;
}

#loginButtons_nav {
	margin-right: 5px;
	margin-left: 5px;
}